body{
    background-color: #e7eaf9;
}
.style_btn
{
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }
  .table_border{
    border: 1px solid #666;
    margin: 10px;
    width:100%;
  }
  .table_border tr td{
    width:50%;
  }
  .table_border tr th{
    width:50%;
  }
  .switch input { 
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }

  #cover{
    display: none;
    opacity: 0;
    height: 100%; 
    width: 100%; 
    top:0%;
    left:0%;
    position: fixed;
    z-index: 2;
  }
  
  #popup{
    display: none;
    opacity: 0;
    height: 69%; 
    width: 69%; 
    top:15%; 
    left:15%;
    border-radius: 10px;
    border: solid thick #666;
    background-color: #FFF;
    position: fixed;
    padding:1%;
    z-index: 3;
    overflow: auto;
  }
  .slow{
    -webkit-transition: 0.7s; /* For Safari 3.1 to 6.0 */
     transition: 0.7s;
  }
  #custom_board_configs{
    display: none;
  }
  #mqtt_detail_table{
    display: none;
  }

  .signal_bk
  {
    width:100px;
    height: 10px;
    background-color: #666;
    margin:10px;
  }
  .fix_width
  {
    width: 200px;
  }
  .signal_fk
  {
    width:0px;
    height: 10px;
    background-color: #4CAF50;
  }
  #pair_btn
  {
    display: none;
  }

  /*
 CSS for the main interaction
*/
.tabset > input[type="radio"] {
  position: absolute;
  left: -200vw;
}

.tabset .tab-panel {
  display: none;
}

.tabset > input:first-child:checked ~ .tab-panels > .tab-panel:first-child,
.tabset > input:nth-child(3):checked ~ .tab-panels > .tab-panel:nth-child(2),
.tabset > input:nth-child(5):checked ~ .tab-panels > .tab-panel:nth-child(3),
.tabset > input:nth-child(7):checked ~ .tab-panels > .tab-panel:nth-child(4),
.tabset > input:nth-child(9):checked ~ .tab-panels > .tab-panel:nth-child(5),
.tabset > input:nth-child(11):checked ~ .tab-panels > .tab-panel:nth-child(6) {
  display: block;
}

.tabset > label {
  position: relative;
  display: inline-block;
  padding: 15px 15px 25px;
  border: 1px solid transparent;
  border-bottom: 0;
  cursor: pointer;
  font-weight: 600;
}

.tabset > label::after {
  content: "";
  position: absolute;
  left: 15px;
  bottom: 10px;
  width: 22px;
  height: 4px;
  background: #8d8d8d;
}

.tabset > label:hover,
.tabset > input:focus + label {
  color: #06c;
}

.tabset > label:hover::after,
.tabset > input:focus + label::after,
.tabset > input:checked + label::after {
  background: #06c;
}

.tabset > input:checked + label {
  border-color: #ccc;
  border-bottom: 1px solid #fff;
  margin-bottom: -1px;
}

.tab-panel {
  padding: 30px 0;
  border-top: 1px solid #ccc;
}

/*
 Demo purposes only
*/
*,
*:before,
*:after {
  box-sizing: border-box;
}
label{
  font-family: 'Fjalla One'
}
.tabset {
  max-width: 65em;
  min-height: 39em;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #ccc;
  padding: 5px;
}
.console{
  display: none;
  opacity: 0;
	background-color:#000;
	height: 39em;
  width: 100%;
	padding:5px;
	border-radius:10px;
  font-size: 10px;
	color: #ccc;
}
#consoleBoard{
  font-family: 'Fjalla One';
	overflow:hidden;
	font-size: 10px;
	color: #ccc;
  height: 34em;
}